body{
  background-color: yellow;
  background-image: url("http://www.creightoncommunityfoundation.org/files/stacks-image-9dacd65.png");
}
form{
  background-color: black;
  width: 10%;
  color: white;
}
form button{
  background-color: RGB(59,89,152);
}
nav a{
  background-color: green;
}
table tr{
  background-color: grey;
}
td{
  border: 2px solid black;
}
