<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Spotlight | Main</title>
<!-- <link rel="stylesheet" type="text/css" href="spotlight.css"/> -->
<!-- <script src="spotlightUI.js"/> -->
</head>

<body>
<p><p>
<header>
<div class="container"> <h1> WELCOME To <img
src=".img/spotlight-logo.psd"
alt="logo"
style="width: 50px; height: 20px"></h1>
<!-- Spotlight img is going to have a visual spotlight lighting up the "o" in the word -->
</div>
<div id="branding">
<nav>
<ul>
<li><a href="spotlight-main.html">Home</a></li>
<li><a href="spotlight-business.html">Businesses</a><li>
<li><a href="spotlight-jobs.html">Job Offerings</a><li>
</ul>
</nav>
</div>
</header>
</body>
</html>
