<form ng-submit='controller.addStudent()' name='addStudentForm'>
  <input class="form-control" type="text" id='firstName' placeholder="First Name" required ng-model="controller.newStudent.firstName"><br>
  <input class="form-control" type="text" id='lastName' placeholder="Last Name" required ng-model="controller.newStudent.lastName"><br>
  <input class="form-control" type="text" id='school' placeholder="School Name" required ng-model="controller.newStudent.school"><br>
  <input class="form-control" type="text" id='age' placeholder="Age" required ng-model="controller.newStudent.age"><br>
  <input class="form-control" type="text" id='gradeLevel' placeholder="Grade" required ng-model="controller.newStudent.gradeLevel"><br>
  <input class="form-control" type="text" id='parent' placeholder="Parent's name" required ng-model="controller.newStudent.parent"><br>
  <input class="form-control" type="text" id='address' placeholder="Home Address" required ng-model="controller.newStudent.address"><br>
  <input class="form-control" type="text" id='parentPhoneNumber' placeholder="Parent's phone number" required ng-model="controller.newStudent.parentPhoneNumber"><br>
  <input class="form-control" type="text" id='studentPhoneNumber' placeholder="Student's phone number" required ng-model="controller.newStudent.studentPhoneNumber"><br>
  <input class="form-control" type="text" id='attendInteract' placeholder="Attend Interact?" required ng-model="controller.newStudent.attendInteract"><br>
  <button>Add New Student!</button>
</form>
