<h1>Jack O'Neil</h1>
<table>
  <tr>
    <td>Date</td><td>Absent/Present</td>
  </tr>
  <tr>
    <td>Aug. 1</td><td>Absent</td>
  </tr>
  <tr>
    <td>Aug. 2</td><td>Present</td>
  </tr>
  <tr>
    <td>Aug. 3</td><td>Absent</td>
  </tr>
  <tr>
    <td>Aug. 4</td><td>Present</td>
  </tr>
  <tr>
    <td>Aug. 5</td><td>Present</td>
  </tr>
  <tr>
    <td>Aug. 6</td><td>Absent</td>
  </tr>
  <tr>
    <td>Aug. 7</td><td>Present</td>
  </tr>
  <tr>
    <td>Aug. 8</td><td>Present</td>
  </tr>
  <tr>
    <td>Aug. 9</td><td>Present</td>
  </tr>
  <tr>
    <td>Aug. 10</td><td>Absent</td>
  </tr>
  <tr>
    <td>Aug. 11</td><td>Present</td>
  </tr>
  <tr>
    <td>Aug. 12</td><td>Absent</td>
  </tr>
  <tr>
    <td>Aug. 13</td><td>Absent</td>
  </tr>
  <tr>
    <td>Aug. 14</td><td>Absent</td>
  </tr>
  <tr>
    <td>Aug. 15</td><td>Present</td>
  </tr>
  <tr>
    <td>Aug. 16</td><td>Present</td>
  </tr>
  <tr>
    <td>Aug. 16</td><td>Absent</td>
  </tr>
  <tr>
    <td>Aug. 17</td><td>Present</td>
  </tr>
  <tr>
    <td>Aug. 18</td><td>Absent</td>
  </tr>
  <tr>
    <td>Aug. 19</td><td>Absent</td>
  </tr>
  <tr>
    <td>Aug. 20</td><td>Present</td>
  </tr>
  <tr>
    <td>Aug. 21</td><td>Present</td>
  </tr>
  <tr>
    <td>Aug. 22</td><td>Present</td>
  </tr>
  <tr>
    <td>Aug. 23</td><td>Absent</td>
  </tr>
  <tr>
    <td>Aug. 24</td><td>Absent</td>
  </tr>
  <tr>
    <td>Aug. 25</td><td>Present</td>
  </tr>
  <tr>
    <td>Aug. 26</td><td>Present</td>
  </tr>
  <tr>
    <td>Aug. 27</td><td>Absent</td>
  </tr>
  <tr>
    <td>Aug. 28</td><td>Present</td>
  </tr>
  <tr>
    <td>Aug. 29</td><td>Absent</td>
  </tr>
  <tr>
    <td>Aug. 30</td><td>Present</td>
  </tr>

</table>
